.counrty {
  width: 100%;
}

.img-container {
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.details {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  color: #313131;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details p {
  font-size: 20px;
  margin: 8px 0;
}
.details span {
  font-weight: bold;
}

.img-container img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.img-container:hover .details {
  display: flex;
}
